.reproductor-container {
  border-top: 3px solid #DC202A;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .4rem 0;
}

.reproductor-container audio {
  display: none;
}

.reproductor-controller {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.reproductor-controller img {
  width: 30%;
}
.volume-bar-container input[type="range"] {
  /* Eliminar los estilos predeterminados del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Establecer el ancho y alto del control deslizante */
  width: 15rem;
  height: 10px;

  /* Establecer el color del riel del control deslizante */
  border-radius: 3px;
  
}
.volume-bar-container input[type="range"]::-moz-range-thumb {
  display: none;
}

/* Eliminar el thumb en otros navegadores */
.volume-bar-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

@media (max-width: 350px){
  .volume-bar-container input[type="range"]{
    width: 14rem;
  }
}

@media (min-width: 768px) {
  .reproductor-container audio {
    width: 20rem;
  }
  .reproductor-controller {
    gap: 2rem;
  }
  .reproductor-controller img {
    width: 12rem;
  }
  .volume-bar-container input[type="range"] {
  width: 30rem;}
}

@media (min-width: 1200px) {
  .volume-bar-container input[type="range"] {
  width: 50rem;}
}